/* Removed default style */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* scroll-behavior: smooth; */
}
body {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}
button {
  border: none;
  cursor: pointer;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
}
/* Flex Box style */
.FC {
  display: flex;
  justify-content: center;
  align-items: center;
}
.FB {
  display: flex;
  justify-content: space-between;
}
.FBC {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.FDC {
  display: flex;
  flex-direction: column;
}

/* Section style  */

.section {
  padding: 0 6rem;
  margin: 0 auto;
}

/* Hero Section */
.hero_section {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/donation5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: aliceblue;
}
.hero_section_content h1 {
  font-size: 4rem;
  line-height: 1.1;
}
.hero_section_content p {
  max-width: 60%;
  margin: 2rem auto;
}
.btn_donate {
  font-size: 1.2rem;
  background-color: crimson;
  color: white;
  padding: 0.8rem 2rem;
  font-weight: bold;
  max-width: 300px;
}

.donate_section {
  padding: 4rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.donate_section > p {
  max-width: 50%;
  margin: 1.2rem auto;
  color: gray;
}
.amount {
  margin-top: 1.5rem;
  max-width: 1000px;
  display: flex;
  align-self: center;
  gap: 1rem;
}
.amount li {
  list-style: none;
  padding: 2.5rem 2rem;
  font-size: 1.8rem;
  font-weight: 900;
  border-radius: 10px;
  color: gray;
  border: 3px solid transparent;
  cursor: pointer;
}
.others_amount {
  width: 900px;
  margin: 3rem auto;
  color: gray;
  text-align: center;
  font-size: 1.5rem;
  border: none;
  font-weight: bold;
  border-bottom: 1px solid gray;
  padding: 0.5rem 0;
  outline: none;
  background: #eee;
}

.amount .active {
  border: 3px solid crimson;
  color: crimson;
}
.amount li:hover {
  border: 3px solid gray;
  background: azure;
}
/* ================================= Plan ================== */
.plan_section,
.contribute_section {
  max-width: 1240px;
  margin: 0 auto;
  gap: 1rem;
  margin-top: 2rem;
}
.plan_section > div {
  display: flex;
  flex-direction: column;
}
.plan_section .container {
  padding: 2rem;
  text-align: start;
  border-radius: 0.25rem;
}
.plan_section .container > h3 {
  padding: 1.5rem 0;
}
.plan_section .container > p {
  color: gray;
}
.foods {
  background: rgba(232, 233, 190, 0.753);
}
.shelter {
  background: rgba(226, 241, 164, 0.649);
}
.education {
  background: rgba(238, 205, 221, 0.724);
}
.icon {
  width: 40px;
  font-size: 3rem;
}
/* ==============contribute Section =================== */

.contribute_section > div {
}
.contribute_articale {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contribute_articale > p {
  padding: 1rem 0;
  color: gray;
}
.contribute_articale > button {
  margin: 0;
}
/* ==============================Subscribe============== */
.subscribe_form {
  padding: 4rem;
  width: 900px;
  background: #deb887;
  margin: 2rem auto;
}
.subscribe_form > form {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}
form > input {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 1rem;
}
.subscribe_btn {
  border-radius: 0;
  padding: 0.87rem 2rem;
}
/* ==============================Footer================== */
footer {
  padding: 2rem;
  background: rgb(15, 15, 15);
  color: white;
  align-items: center;
}
/* Media query for mobile device*/
@media (max-width: 786px) {
  body {
    font-size: 0.85rem;
  }
  .section {
    padding: 0 0.5rem;
  }
}
