/* ==================== Removed default style ========================== */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
}
button {
  border: none;
  cursor: pointer;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  margin: 0 auto;
}
img {
  width: 100%;
  display: block;
  height: 100%;
}

/* Common style */
.FC {
  display: flex;
  justify-content: center;
  align-items: center;
}
.FB {
  display: flex;
  justify-content: space-between;
}
.FBC {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.FDC {
  display: flex;
  flex-direction: column;
}
.btn {
  font-size: 1.2rem;
  background-color: crimson;
  color: white;
  padding: 0.8rem 2rem;
  font-weight: bold;
  max-width: 300px;
}
.section {
  max-width: 1240px;
  margin: 0 auto;
  padding: 4rem 0;
}
.content {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}
.content > p {
  max-width: 70%;
  color: gray;
  margin: 0 auto;
  padding: 2rem 0;
}
.content > h2 {
  font-size: 3rem;
}
/* ==================== Banner ========================== */
#banner {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/donation5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: aliceblue;
}
.banner_content h1 {
  font-size: 4rem;
  line-height: 1.1;
}
.banner_content p {
  max-width: 60%;
  margin: 2rem auto;
}
/* ==================== Donate ========================== */
#donate {
  align-items: center;
}

.amount {
  align-self: center;
  gap: 1rem;
  padding: 2rem 0;
}
.amount li {
  list-style: none;
  padding: 2.5rem 2rem;
  font-size: 1.8rem;
  font-weight: 900;
  border-radius: 10px;
  color: gray;
  border: 3px solid transparent;
  cursor: pointer;
  background: rgba(238, 238, 238, 0.585);
}
.other_amount {
  width: 920px;
  margin: 2rem 0;
  color: gray;
  text-align: center;
  font-size: 1.3rem;
  border: none;
  font-weight: bold;
  border-bottom: 1px solid gray;
  padding: 0.8rem 0;
  outline: none;
  background: #eee;
}

.amount .active {
  border: 3px solid crimson;
  color: crimson;
}

/* ================================= Donate Plan ================== */

#donate_plan {
  padding: 0 3rem;
}
.container {
  gap: 1rem;
  margin-top: 1rem;
}
.card {
  padding: 2rem;
}

svg {
  margin-top: 1rem;
  width: 4rem;
  height: 4rem;
}
.card h3 {
  padding: 1rem 0;
}

.foods {
  background: rgba(232, 233, 190, 0.753);
}
.shelter {
  background: rgba(226, 241, 164, 0.649);
}
.education {
  background: rgba(238, 205, 221, 0.724);
}

/* ==============contribute =================== */
#contribute {
  gap: 3rem;
  padding: 4rem 3rem;
}
#contribute > div {
  flex: 1;
}

.contribute_article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contribute_article h2 {
  font-size: 2.5rem;
}
.contribute_article > p {
  padding: 1rem 0;
  color: gray;
}
.contribute_article > button {
  margin: 0;
}
.contribute_img {
  height: 400px;
}
/* ============================ Partner=================== */
#partner {
  background: #eee;
  padding: 4rem 0;
}
.partner_logo {
  gap: 2rem;
  max-width: 920px;
  margin: 2rem auto;
}
.partner_logo > div {
  height: 25px;
  width: 120px;
}

/* ==============================Subscribe============== */
.subscribe_form {
  padding: 4rem;
  width: 920px;
  background: #f1f0a8;
  margin: 2rem auto;
}
.subscribe_form > form {
  min-width: 500px;
  border-radius: 5px;
  overflow: hidden;
}
form > input {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 1rem;
}
.subscribe_btn {
  border-radius: 0;
  padding: 1rem 2rem;
  font-size: 1rem;
}
/* ==============================Footer================== */
footer {
  padding: 2rem;
  background: rgb(15, 15, 15);
  color: white;
  align-items: center;
}
footer h2 {
  color: crimson;
  padding: 1rem 0;
}
